In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
claimant_data=pd.read_csv("claimants.csv")
claimant_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

## Data Preprocessing

In [5]:
claimant_data.drop(labels='CASENUM',axis=1)

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1335         1     0.0       1.0       0.0     NaN   0.576
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 6 columns]

In [8]:
claimant_data.shape

(1340, 7)

In [13]:
claimant_data.dropna(axis=0,inplace=True)

In [14]:
claimant_data.shape

(1096, 7)

## Model Building

In [16]:
claimant_data.head(5)

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [18]:
X=claimant_data.drop(labels='ATTORNEY',axis=1)
X.head(5)

   CASENUM  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5     0.0       1.0       0.0    50.0  34.940
1        3     1.0       0.0       0.0    18.0   0.891
2       66     0.0       1.0       0.0     5.0   0.330
3       70     0.0       1.0       1.0    31.0   0.037
4       96     0.0       1.0       0.0    30.0   0.038

In [19]:
y=claimant_data['ATTORNEY']

## Model_validation Technique 1: train_test_split

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.20,random_state=123)

## Model Building

In [26]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression() #Model Initialization/ Object Creation/Estimator
logistic_model.fit(X_train,y_train)

LogisticRegression()

##  Model Testing || Model Evaluation

### Training data:

In [27]:
y_pred_train=logistic_model.predict(X_train)

In [28]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [30]:
print(" accuracy score: ", accuracy_score(y_train,y_pred_train))
print("confusion matrix : \n ",confusion_matrix(y_train,y_pred_train))
print("classification report: \n ",classification_report(y_train,y_pred_train))

 accuracy score:  0.70662100456621
confusion matrix :
  [[333 133]
 [124 286]]
classification report:
                precision    recall  f1-score   support

           0       0.73      0.71      0.72       466
           1       0.68      0.70      0.69       410

    accuracy                           0.71       876
   macro avg       0.71      0.71      0.71       876
weighted avg       0.71      0.71      0.71       876

### Testing Data:

In [34]:
y_pred_test=logistic_model.predict(X_test)

In [35]:
print("accuracy_score: ",accuracy_score(y_test,y_pred_test))

accuracy_score:  0.6363636363636364

In [47]:
from sklearn.model_selection import KFold,cross_val_score


cv_scores = cross_val_score(estimator = logistic_model,X=X,y=y,cv=5)
print('CV Scores    : ',cv_scores)
print('Mean Accuracy: ',cv_scores.mean())
print('Std.Deviation: ',cv_scores.std())

CV Scores    :  [0.70454545 0.68949772 0.73059361 0.70319635 0.71232877]
Mean Accuracy:  0.7080323785803238
Std.Deviation:  0.013465121761599058

### ========================================================================================

## Model_validation Technique 2: Kfold craoss validation

In [48]:
from sklearn.model_selection import KFold,cross_val_score

kfold_split = KFold(n_splits=5,shuffle=True, random_state=12)
cv_scores_kfold = cross_val_score(estimator = logistic_model,X=X,y=y,cv=kfold_split)
print('CV Scores with kfold    : ',cv_scores_kfold)
print('Mean Accuracy with kfold: ',cv_scores_kfold.mean())
print('Std.Deviation with kfold: ',cv_scores_kfold.std())

CV Scores with kfold    :  [0.69090909 0.71689498 0.70319635 0.76255708 0.64383562]
Mean Accuracy with kfold:  0.7034786218347862
Std.Deviation with kfold:  0.03843337978515844

## Model_validation Technique 3:Lost one out cross validation(LOOCV)

In [51]:
from sklearn.model_selection import LeaveOneOut

loo_split = LeaveOneOut()
cv_scores_loo = cross_val_score(estimator = logistic_model,X=X,y=y,cv=loo_split)
print('CV Scores with loo_split    : ',cv_scores_loo)
print('Mean Accuracy with loo_split: ',cv_scores_loo.mean())
print('Std.Deviation with loo_split: ',cv_scores_loo.std())

C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

CV Scores with loo_split    :  [1. 0. 1. ... 1. 1. 1.]
Mean Accuracy with loo_split:  0.7071167883211679
Std.Deviation with loo_split:  0.4550853062839148